.aboutContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.aboutMainImg {
    width: 100%;
}

.contentAboutBlock1,
.contentAboutBlock2 {
    margin: 200px 40px 0 40px;
}



.tripImg {
    height: 585px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}


.companyValues {
    padding: 60px 20px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
    margin: 0 auto;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    p{
      margin-top: 30px;
    }
    .title {
      margin-top: 100px;
      font-size: 30px;
      font-weight: 700;
      line-height: 30px;
    }
  }
  
  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .imageColumn {
    display: flex;
    justify-content: end;
  }
  
  .contentBlock1{
    margin: 120px 0;
  }
  .contentBlock2{
    margin: 120px 0 300px 0;
  }

  .tripBlock,
  .tripImg,
  .informationBlock,
  .grid
  {
    margin-top: 150px;
  }