.faqSection {
    width: 100%;
  }
  
  .title {
    margin-bottom: 150px;
  }
  
  .faqList {
    display: flex;
    flex-direction: column;
    gap: 125px;
  }
  
  .faqItem {
    padding-bottom: 12px;
  }
  
  .questionRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    padding: 0;

    &:hover,
    &:focus,
    &:active {
      background: none;
      outline: none;
      box-shadow: none;
      color: inherit;
    }
  }
  
  .question {
    flex: 1;
    text-align: left;
    color: var(--text-color);
  }
  
  
  .icon {
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
  
  .answerWrapper {
    overflow: hidden;
  }
  
  .answer {
    margin-top: 30px;
    font-size: 15px;
    color: var(--text-color);
    line-height: 1.5;
  }
  