.container {
  display: flex;
  align-items: center;
}

.textBlock {
  display: flex;
  flex-direction: column;
  line-height: 1;
  gap: 2px;
  text-align: left;
}

.buttonContent {
  display: flex;
  align-items: center;
}

.buttonTextColumn {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.buttonTextColumn p {
  margin: 3px 0;
}

.logo {
  margin-right: 20px;
  fill: var(--text-color);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 60px;

  @media (max-width: 1024px) {
    margin-top: 50px;
  }
}

.item {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.bullet {
  font-size: 45px;
  line-height: 1;
  color: var(--text-color);
  padding-top: 25px;
}

.contentBlockDataTitle {
  margin: 70px 0;

  @media (max-width: 1023px) {
    margin: 30px 0 0;
  }
}

.contentBlockDataWrapper {
  height: calc(100vh - 150px);

  @media (max-width: 1023px) {
    height: auto;
  }
}

.contentBlockDataContent {
  margin-bottom: 70px;

  @media (max-width: 1023px) {
    margin: 0;
  }
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;

  @media (max-width: 768px) {
    margin-top: 30px;
    gap: 0px;
  }
}

.btn {
  @media (max-width: 768px) {
    margin-bottom: 30px;
    width: 80%;
  }
}

.contentDriverDataTitle {
  margin: 50px 0 90px 0;

  @media (max-width: 768px) {
    margin: 30px 0;
  }

}

.contentDriverDataWrapper {
  height: 100vh;

  @media (max-width: 1023px) {
    height: auto;
  }
}

.contentDriverDataContent {
  margin-bottom: 110px;

  @media (max-width: 768px) {
    margin-bottom: 50px;
  }
}

.pointContant p:first-child {
  margin-bottom: 20px;
}

.whatWeOffer {
  margin-top: 150px;
  padding-right: 2rem;

  @media (max-width: 768px) {
    margin-top: 100px;
    padding-right: 0;
  }
}


.peculiaritiesContainer {
  margin: 230px 0 120px;
  display: grid;
  grid-template-columns: 40% repeat(3, 20%);
  align-items: stretch;
  gap: 24px;
  padding-right: 72px;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    padding-right: 0;
    margin: 100px 0;
    gap: 40px;
  }
}

.peculiaritiesTitle {
  display: flex;
  justify-content: flex-start;
  /*   padding: 16px; */
  width: 70%;

  @media (max-width: 1024px) {
    width: 100%;
  }
}

.peculiarity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  position: relative;
  padding-left: 20px;

  @media (max-width: 1024px) {
    width: 100%;
  }
}

.peculiarity2,
.peculiarity3 {
  flex-direction: row;
  align-items: center;

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .imgArrowRight {
    display: flex;
    margin-right: 70px;
    fill: var(--text-color);
    color: var(--text-color);
    width: 20px;
    height: 12px;
    justify-content: center;
    transform: rotate(0deg);

    @media (max-width: 1024px) {
      display: none;
    }
  }
}


.mb {
  margin-bottom: 20px;
}

.faqsContainer {
  margin-top: 150px;

  @media (max-width: 768px) {
  margin-top: 100px;
  }
}